.topo_da_pagina_conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    left: 0px;
    right: 0px;
    width: 375px;
    height: 640px;
    background: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
    border-radius: 0px 0px 35px 35px;
    padding-right: 110px;

}


.logo {
    width: 40px;
    height: 40px;

}

.titulo_da_pagina {
    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
    text-align: center;
    width: 375px;

    margin-bottom: 5px;
    color: #253347;
}

.texto_topo_pagina {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #5E6E85;
    padding: 2rem;
    margin-bottom: 150px;
}

.calculadora_conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;

    position: absolute;
    width: 328px;
    height: 649px;

    top: 471px;

    /* Pure White */

    background: #FFFFFF;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
}

form .topo_formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;

}

.titulo_calculadora {
    color: #253347;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 29px;
    letter-spacing: -0.05em;
    margin-bottom: 10px;
    margin-left: 3rem;


}

.escolha_da_metrica {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 3rem;
}

.height {
    margin-bottom: 10px;
    margin-left: 3rem;
    padding: 20px;

}

.weight {
    margin-bottom: 10px;
    margin-left: 3rem;
    padding: 20px;
}

.resultado {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 24px;

    width: 280px;
    height: 257px;

    background: linear-gradient(90deg, #345FF7 0%, #587DFF 100%);
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

/* ajustar o topico calculadora junto com o JS*/

.homem_comendo {
    position: absolute;
    width: 311.17px;
    height: 354.39px;
    left: calc(50% - 311.17px/2 + 0.09px);
    top: 1192px;
}

.significado_do_resultado {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 328px;
    height: 342px;
    left: calc(50% - 328px/2 + 0.5px);
    top: 1594.39px;
}

.titulo_significado_do_resultado {
    font-size: 32px;
    font-weight: 600;
    color: #253347;
}

.texto_significado_do_resultado {
    color: #5E6E85;
    font-size: 16px;
    font-weight: 400;
}

.habitos {
    position: absolute;
    width: 375px;
    height: 879px;
    left: 0px;
    top: 1850px;
    padding: 20px;

}

.healthy_eating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 327px;
    height: 221px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.titulo_healthy_eating {
    color: #253347;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: -0.05em;
}

.texto_healthy_eating {
    width: 327px;
    height: 29px;
    color: #5E6E85;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.05em;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.sleep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 327px;
    height: 245px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 40px;
}

.titulo_sleep {
    color: #253347;
    width: 327px;
    height: 29px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: -0.05em;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.texto_sleep {
    width: 327px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5E6E85;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.exercise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 327px;
    height: 245px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 40px;
}

.titulo_exercise {
    width: 327px;
    height: 29px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.05em;
    color: #253347;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.texto_exercise {
    width: 327px;
    height: 96px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5E6E85;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.limitacoes_bmi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 56px;

    position: absolute;
    width: 327px;
    height: 1500px;
    left: 19px;
    top: 2780px;
}

.topo_limitations_mbi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 327px;
    height: 211px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.titulo_limitations_bmi {
    width: 327px;
    height: 35px;
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.05em;
    color: #253347;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.texto_limitations_bmi {
    width: 327px;
    height: 144px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #5E6E85;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.fim_da_pagina {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 327px;
    height: 1096px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.fim_da_pagina_gender {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 32px;
    width: 327px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.titulo_gender {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 279px;
    height: 32px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.titulo_escrito_gender {
    width: 231px;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.05em;
    color: #253347;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.texto_fim_da_pagina_gender {
    width: 279px;
    height: 120px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5E6E85;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.fim_da_pagina_age {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 32px;
    width: 327px;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.titulo_age {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 279px;
    height: 32px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.titulo_escrito_age {
    width: 231px;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.05em;
    color: #253347;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.texto_fim_da_pagina_age {
    width: 279px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5E6E85;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.fim_da_pagina_muscle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 32px;
    width: 327px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.titulo_muscle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 279px;
    height: 32px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.titulo_escrito_muscle {
    width: 231px;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.05em;
    color: #253347;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.texto_fim_da_pagina_muscle {
    width: 279px;
    height: 96px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5E6E85;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.fim_da_pagina_pregnancy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 32px;
    width: 327px;
    height: 240px;
    background: #FFFFFF;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
}

.titulo_pregnancy {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 279px;
    height: 32px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.titulo_escrito_pregnancy {
    width: 231px;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.05em;
    color: #253347;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.texto_fim_da_pagina_pregnancy {
    width: 279px;
    height: 144px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5E6E85;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.fim_da_pagina_race {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 32px;
    width: 347px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}

.titulo_race {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 279px;
    height: 32px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.titulo_escrito_race {
    width: 231px;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.05em;
    color: #253347;
    flex: none;
    order: 1;
    flex-grow: 1
}

.texto_fim_da_pagina_race {
    width: 279px;
    height: 120px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5E6E85;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}